*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: 100px;
    font-family: 'Barlow', sans-serif;
}
.body {
    color: #393733;
    background: #F1F0EA;
}
h1 {
    font-size: 48pt;
    font-weight: 800;
    color: #393733;
}
h2 {
    font-size: 24pt;
    font-weight: 700;
    color: #393733;
}
p {
    font-size: 18pt;
    font-weight: 500;
    color: #393733;
}
/*navbar*/
.navbar {
    min-height: 140px;
    background-color: #DFA213;
    color: #393733;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
}
.bg-light {
    background-color: #DFA213;
}
.form-inline {
    background-color: #E8C97E;
    font-family: 'Barlow', sans-serif;
}
.form-control {
    background-color: #E8C97E;
    border-color: #E8C97E ;
    font-family: 'Barlow', sans-serif;
}
.btn-outline-success {
    background-color: #E8C97E;
    color: #C6481B;
    border-color: #C6481B;
}
.dropdown-menu {
    color: #393733;
    background: #F1F0EA;
    font-size: 16pt;
    margin: 2px 0px 0px;
    padding: 8px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown-item:hover {
  color: #F1F0EA;
  background-color: #C6481B;
}
.btn:hover { 
  background-color: #C6481B;
  border-color: #C6481B;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.donate {
  background-color: #93AF81;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 40px;
}
.donate:hover {
  color:#F1F0EA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Hero*/
.img-fluid {
  width: 100vw;
}
.hero {
    text-align: center;
    padding: 20px;
    background-color: #F1F0EA;
}
.hero img {
    padding: 30px;
}
/*6 cards*/
.sixcards {
    background: #F1F0EA;
}
.card {
  background: #ffffff;  
  padding: 10px;
    margin: 20px;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body {
  text-decoration: none;
}
/*Education & Emplpyment Resources*/
.image-cards {
  background: #F1F0EA;
}
.headerspacing {
    background: #F1F0EA;
    padding-top: 141px;
    padding-left: 100px;
}
.col {
    padding-top: 39px;
    background: #F1F0EA;
}
.col img {
    margin-top: 15px;
    margin-bottom: 28px;
}
.col img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-primary {
    margin-top: 30px;
    background-color: #93AF81;
    border: solid #93AF81;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*i give up*/
.igiveup {
  background: #F1F0EA;
  padding: 115px;
}
/*footer*/
.footer {
  background-color: #393733;
  height: 284px;
  color: #F1F0EA;
  padding: 60px;
  font-size: 10pt;
  align-items: center;
  font-weight: 600;
}
.footerText {
    padding-top: 40px;
}

/* Google Pixel media query*/
/* Portrait */
 
@media only screen and (max-width: 600px){
  h1 {
    font-size: 24pt;
  }
  h2 {
    font-size: 18pt;
  }
  p {
    font-size: 13pt;
  }
}